.pdfjsheader{
  width:100% !important;
  text-align:center;
}

#the-canvas {
  border: 1px solid black;
  direction: ltr;
}

input{
  color:black !important;
  font-weight:bold;
  text-align:center;
}

.viewer-container{
    background:none;
    width: 80%;
    /* center a div insie another div*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centering-container{
    width: 100%;
    /* center a div insie another div*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pdf-scale{
    display: none;
}

.proj-desc{
  float:left;
}

.proj-desc.first-desc{
  margin-right:50px;
}
